@import url(_font.css);
@import url(_reset.css);

:root {
    /* fonts */
    --fw-regular: 500;
    --fw-bold: 700;
    --font-stretch: 100%;

    /* colors */
    /* ### Primary */
    --clr-primary-dark-cyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);

    /* ### Neutral */
    --clr-neutral-very-dark-blue: hsl(212, 21%, 14%);
    --clr-neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --flex-basis: 16rem;
}

body {
    display: grid;
    margin: 1rem;

    color: var(--clr-neutral-dark-grayish-blue);

    font-weight: var(--fw-regular);
    font-size: .875rem;
    font-family: 'Montserrat', sans-serif;

    background: var(--clr-primary-cream);

    place-items: center;
    font-variation-settings: "wght" var(--fw-regular), "wdth" var(--font-stretch);
}

.card {
    --padding: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    width: clamp(var(--flex-basis) * 1.1, 90vw, var(--flex-basis) * 2);

    background: var(--clr-neutral-white);
    border-radius: .625rem;
    container-type: inline-size;

    .card__img {
        flex: 1 1 var(--flex-basis);
        min-height: min(var(--flex-basis) * .8, 300px);

        background-image: url(/assets/images/image-product-mobile.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        border-top-left-radius: .625rem;
        border-top-right-radius: .625rem;
    }

    h1 {
        color: var(--clr-neutral-very-dark-blue);
        font-family: 'Fraunces', sans-serif;
    }

    .card__content {
        display: flex;
        flex: 1 1 var(--flex-basis);
        flex-direction: column;
        gap: 1rem;
        padding: var(--padding);

        & * {
            margin: 0;
        }

        .cad__label {
            letter-spacing: .3rem;
            text-transform: uppercase;
        }

        .card__price {
            display: flex;
            align-items: center;

            & > * {
                margin: 0;
            }

            .card__currentPrice  {
                color: var(--clr-primary-dark-cyan);
                font-weight: 700;
                font-size: 1.5rem;
                font-family: 'Fraunces', sans-serif;
            }

            .card__prevPrice {
                text-decoration: line-through;
                padding-inline-start: 1rem;
            }
        }

        button {
            display: flex;
            gap: 1rem;
            justify-content: center;
            width: 100%;
            padding: 1rem;

            color: var(--clr-neutral-white);
            font-weight: 700;

            background: var(--clr-primary-dark-cyan);
            border: none;
            border-radius: .5rem;
            cursor: pointer;

            &:hover,
            &:focus,
            &:focus-visible  {
                background-color: hsl(from var(--clr-primary-dark-cyan) h s calc(l - 20));
            }
        }
    }


}

@container (min-width: 512px) {
    .card__img.card__img {
        background-image: url(/assets/images/image-product-desktop.jpg);
        background-size: auto 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: .625rem;

    }
}
